body {
    font-family: Arial, Helvetica, sans-serif;
}

header{

    text-align: center;
    background-color: rgba(0, 255, 255, 0.144);

}

main h1{
    text-align: center;
}

/*.schedule {
    border: 1px inset black;
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    caption-side: bottom;
}

.schedule th, .schedule td {
    border: 5px solid black;
    padding: 5px;
}

.num {
    vertical-align: top;
}
*/

.schedule {
    caption-side: bottom;
    border-spacing: 0;
    background-color: cadetblue;
    border-top: thin solid black;
}

.schedule tbody td {
    border-bottom: thin solid black;
}

.schedule tbody tr:nth-child(even) {
    background-color: gray;
}

.schedule thead tr{
    background-color: rgb(0, 0, 120);
    color: white;
}

.schedule tfoot tr {
    background-color: rgb(0, 0, 120);
    color: white;
}

.num {
    vertical-align: top;
}

.question{
    background-color: rgba(0, 255, 255, 0.144);
}

.answer{
    margin: 20px;
}