body{
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background-color: #7f0e6a;
    color: white;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row label {
    width: auto;
    text-align: left;
}

.check-row label {
    display: flex;
    text-align: center;
    gap: 5px;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 5px 10px;
    background-color: #7f0e6a5c;
    font-weight: 900;
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    background-color: white;

}


.form-row input[type='submit'] {
    background-color: #7f0e6a5c;
    padding: 10px;
}

spacer {
    width: 150px;
    text-align: right;
}

fieldset{
    background-color: rgba(0, 0, 255, 0.088);
    width: 80%;
    margin: auto;
}

legend {
    background-color: #7f0e6ab9;
    color: white;
    padding: 20px;
    text-align: left;

}


footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #7f0e6a;
    color: white;
}

@media only screen and (max-width: 500px) {

    body {
        padding-bottom: 60px;
    }

    .form-row, .check-row {
        flex-direction: column;
    }

    .feildset {
        width: 98%;
    }

    .form-row label, .spacer {
        text-align: left;
    }

}