body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row lable {
    width: 150px;
    text-align: right;
}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 5px 10px;
    background-color: rgba(255, 166, 0, 0.27);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    background-color: white;

}


.form-row input[type='submit'] {
    background-color: pink;
    color: white;
    padding: 10px;
}

spacer {
    width: 150px;
    text-align: right;
}

.feildset{
    background-color: rgba(0, 0, 255, 0.088);
    width: 80%;
    margin: auto;
}

legend {
    background-color: red;
    color: white;
    padding: 20px;
}

.engagment {
    background-color: yellow;
}

@media ONLY screen AND (max-width: 480px) {
    .form-row, .check-row {
        flex-direction: column;
    }

    .feildset {
        width: 95%;
    }

    .form-row lable, .spacer {
        text-align: left;
    }
}